.container {
    -fx-background-color: Moccasin;
}

.headline {
    -fx-font-weight: bold;
    -fx-font-size: 17;
    -fx-font-family: Droid;

}


/* 
    Addon buttons
*/
.addonButton {
    -fx-cursor: hand;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.2), 5, 3, 0, 1);
}

.creamButton {
    -fx-background-color: #fffdd0;
    -fx-text-fill: #000000;
}

.sugarButton {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.extraShotButton {
    -fx-background-color: saddlebrown;
    -fx-text-fill: #ffffff;
}

.whippedCreamButton {
    -fx-background-color: darkseagreen;
    -fx-text-fill: #000000;
}

.iceButton {
    -fx-background-color: aqua;
    -fx-text-fill: #000000;
}


/* 
    ListView
*/
.receiptList {
    -fx-background-radius: 8px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.2), 5, 3, 0, 1);
}

.receiptList > * {
    -fx-background-radius: 8px;
    -fx-padding: 5px 10px;
}


/* 
    Action buttons
*/
.actionButton {
    -fx-cursor: hand;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.2), 5, 3, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-padding: 10px 15px;
}

.orderButton {
    -fx-background-color: royalblue;
    -fx-text-fill: #ffffff;
}

.newOrderButton {
    -fx-background-color: darkred;
    -fx-text-fill: #ffffff;
}